CHANNEL=shenzjd_com

LOCALE=zh-cn
TIMEZONE=Asia/Shanghai

TELEGRAM=shenzjd
TWITTER=
GITHUB=wu529778790

DISCORD=https://DISCORD.com
PODCASRT=https://PODCASRT.com

FOOTER_INJECT=FOOTER_INJECT
HEADER_INJECT=HEADER_INJECT

NO_FOLLOW=false
NO_INDEX=false

SENTRY_AUTH_TOKEN=
SENTRY_DSN=
SENTRY_PROJECT=

HOST=telegram.dog
STATIC_PROXY=

GOOGLE_SEARCH_SITE=shenzjd.com

TAGS=标签A,标签B,标签C

COMMENTS=true

LINKS=Title1,URL1;Title2,URL3;Title3,URL3;

NAVS="技术博客,https://blog.shenzjd.com;网盘资源,https://alist.shenzjd.com;今日热点,https://news.shenzjd.com;"

RSS_BEAUTIFY=true